body {
    background-color: #E2FCEF;
    
}

#myVideo {
    z-index: -1;
    position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0.6;
}

#myVideo:hover {
    opacity: 1;
}

#history {
    height: 200px;
}

.calculator {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-image: url("Cumulonimbus Cloud.jpg");
    background-size: 300px 450px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    opacity: 0.5;
}

.calculator:hover {
    opacity: 1.0;
    box-shadow: 5px 5px 5px #5f4ebe;
}

.bottom-area{
    display: flex;
}

#display {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    background: #EEEEEE;
}

.buttons button {
    border: 1px #AD91A3 solid;
    border-radius: 5px;
    width: 20%;
    height: 40px;
    margin: 1%;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.edits {
    display: flex;
    justify-content: end;
    margin-right: 4%;
}

#clear {
    background-color: #31E981;
}

#backspace {
    background-color: #D8E4FF;
}

.operator,
.equals {
    background-color: #759FBC;
}

.number {
    background-color: #E2FCEF;
}

.buttons button:hover {
    transform: scale(1.5rem);
    transition: ease-in-out 0.1s;
    background-color: #9DA9A0;
    box-shadow: 3px 4px 5px #654C4F;
}

