body {
    background-color: #E2FCEF;
}

.calculator {
    width: 250px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-image: url("Cumulonimbus Cloud.jpg");
    background-size: 300px 450px;
}

#display {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    background: #EEEEEE;
}

.buttons button {
    border: 1px #AD91A3 solid;
    border-radius: 5px;
    width: 20%;
    height: 40px;
    margin: 1%;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.edits {
    display: flex;
    justify-content: end;
    margin-right: 4%;
}

#clear {
    background-color: #31E981;
}

#backspace {
    background-color: #D8E4FF;
}

.operator,
.equals {
    background-color: #759FBC;
}

.number {
    background-color: #E2FCEF;
}

.buttons button:hover {
    transform: scale(1.5rem);
    transition: ease-in-out 0.1s;
    background-color: #9DA9A0;
    box-shadow: 3px 4px 5px #654C4F;
}